.wrapper {
  height: 100vh;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 80%;
  height: 90vh;
  margin: 0 auto;
}

.row {
  flex-wrap: nowrap;
}

.title-container {
  height: 90vh;
  /* background: url('') center center no-repeat; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color:rgb(29, 29, 29);
}

.form-container {
  height: 90vh;
  padding-top: 100px;
  padding-left: 50px;
  background: lightskyblue;

}

/* label {
  display: flex;
} */

