.wrapper {
  height: 100vh;
  background-image: linear-gradient(to right,#e6d922, #7926d8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 80%;
  height: 90vh;
  margin: 0 auto;
}

/* .row {
  flex-wrap: nowrap;
} */

.title-container {
  height: 90vh;
  background: url('./sunset.jpeg') center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color:rgb(29, 29, 29);
  padding-top: 10em;
}

.container {
  background: #f3f3f3;
}

.form-container {
  height: 90vh;
  padding-top: 80px;
  padding-left: 50px;

}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
}

input[type="text"] {
  border: none;
  background-color: transparent;
  padding-bottom: 2px;
  border-bottom: 2px solid purple;
  margin-bottom: 2em;
}

input[type="text"] {
  outline: none;
}


button {
  border-radius: 2px;
  width:70%;
}
